<!--
<div class='wrapper'>
  <div class='container' *ngFor='#group of groups' [dragula]='"nested-bag"'>
    <div *ngFor='#item of group.items' [innerHtml]='item.name'></div>
  </div>
</div>

<div class="wrapper">
      <div id="left-copy-1tomany" class="container">
        <div>When elements are copyable, they can't be sorted in their origin container</div>
        <div>Copying prevents original elements from being dragged. A copy gets created and <em>that</em> gets dragged instead</div>
        <div>Whenever that happens, a <code>cloned</code> event is raised</div>
        <div>Note that the clones get destroyed if they're not dropped into another container</div>
        <div>You'll be dragging a copy, so when they're dropped into another container you'll see the duplication.</div>
      </div>
      <div id="right-copy-1tomany" class="container">
      <div class="">Whenever that happens, a <code>cloned</code> event is raised</div><div class="">Whenever that happens, a <code>cloned</code> event is raised</div><div class="">Note that the clones get destroyed if they're not dropped into another container</div><div class="">Whenever that happens, a <code>cloned</code> event is raised</div></div>
</div>
-->

<div class='wrapper'>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
    <div *ngFor='#text of many' [innerHtml]='text'></div>
  </div>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
    <div *ngFor='#text of many2' [innerHtml]='text'></div>
  </div>
</div>