<h1>{{title}}</h1>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/wiki" routerLinkActive="active">Wiki</a>
    <a routerLink="/wikismart" routerLinkActive="active">Wiki smmart version</a>
    <a routerLink="/dragula" routerLinkActive="active">Dragula</a>
    <a routerLink="/dragulas/secondbag" routerLinkActive="active">Dragula - secondBag</a>
    <a routerLink="/dnd" routerLinkActive="active">Drag & Drop</a>
    <a routerLink="/betheregrid" routerLinkActive="active">Be-there grid</a>
  </nav>
<router-outlet></router-outlet>