
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">First bag example</h3>
  </div>
  <div class="panel-body">
     <div class='wrapper'>
        <div class="container" [dragula]='"fifth-bag"'>
            <div>Drag/drop item 1</div>
            <div>Drag/drop item 2</div>
        </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">First bag example</h3>
  </div>
  <div class="panel-body">
     <div class='wrapper'>
        <div class="container" id="firstC" [dragula]='"fifth-bag"'>
            <div>Drag/drop item 3</div>
            <div>Drag/drop item 4</div>
        </div>
    </div>
  </div>
</div>

<dragula  class='wrapper'>
  <div id='left-copy-1tomany' class='container'>
        <div>Drag/drop item 1</div>
            <div>Drag/drop item 2</div>
  </div>
  <div id='right-copy-1tomany' class='container'>
        <div>Drag/drop item 3</div>
            <div>Drag/drop item 4</div>
  </div>
</dragula>